$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);
$notecolor: #FCF3CF;
$buttoncolor: #7DCEA0;
$hovercolor: #52BE80;

body, html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.input {
  font-size: 14px;
  padding: 7px;
  color: black;
  margin-right: 5px;
  min-width: 500px;
  border: 1px solid palevioletred;
  border-radius: 3px;
}
.button {
  border: 1px solid palevioletred;
  border-radius: 3px;
  font-size: 14px;
  padding: 7px;
  color: black;
  border-color: $buttoncolor;
  background-color: $buttoncolor;
}
.button:hover {
  background-color: $hovercolor;
  border-color: $hovercolor;
  cursor: pointer;
}
